.section-main h3 {
    text-align: center;
    margin-top: 50px;
    color: #1a1a1a;
    line-height: 1.3em;
}

.section-main h4 {
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
}



.trio-cont .col-md-4 h4 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.trio-p {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.4em;
    min-height: 46px;
    color: #1a1a1a;
    margin-bottom: 5px;
}

.trio-cont.row h4:after {
    width: 68px;
    height: 2px;
    margin: 0 auto;
    content: '';
    position: absolute;
    background: #F6CE42;
    margin-top: 33px;
    left: 0;
    right: 0;
}

.hover-blk:hover {
    background: #1E61E1;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.hover-blk:hover h4 {
    color: #fff;
}

.hover-blk:hover p.trio-p {
    color: #fff;
}



.section-main .trio-cont .sprite-icon1 {
    background: url(../img/f1.png) 0 0 no-repeat;
}



.hover-blk:hover .sprite-icon1 {
    background: url(../img/f1.png) 0 -55px no-repeat;
}


.section-main .trio-cont .sprite-icon2 {
    background: url(../img/f2.png) 0 0 no-repeat;
}



.hover-blk:hover .sprite-icon2 {
    background: url(../img/f2.png) 0 -52px no-repeat;
}


.section-main .trio-cont .sprite-icon1 {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    margin-top: 17px;
    margin-bottom: -22px;
}



.section-main .trio-cont .sprite-icon2 {
    display: block;
    margin: 0 auto;
    width: 45px;
    height: 60px;
    margin-top: 17px;
    margin-bottom: -22px;
}


.section-main .trio-cont .sprite-icon3 {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    margin-top: 17px;
    margin-bottom: -22px;
}




.section-main .trio-cont .sprite-icon3 {
    background: url(../img/f3.png) 0 0 no-repeat;
}



.hover-blk:hover .sprite-icon3 {
    background: url(../img/f3.png) 0 -58px no-repeat;
}






.hover-blk:hover h4:after {
    background: #fff;
}

.hover-blk {
    padding: 25px;
}

.section-main h4 {
    text-align: center;
    max-width: 875px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.mt-nb {
    margin-top: 120px;
    margin-bottom: 30px;
}

.w50 {
    width: 50%;
    float: left;
}

.news-area-s a {
    display: block;
    color: #4373ED;
    font-size: 14px;
    font-weight: bold;
}

.news-area-s h5 {
    font-weight: bold;
    font-size: 14px;
    color: #1a1a1a;
    margin-top: 8px;
}

.news-area-s p {
    font-size: 16px;
    line-height: 1.3em;
    margin-top: 6px;
    margin-top: 7px;
}

.news-area-s {
    margin-top: 23px;
    padding-bottom: 28px;
    border-bottom: 1px dotted #A9A9A9;
}


.all-news {
    text-decoration: underline;
    color: #1a1a1a;
    font-size: 12px;
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.all-news:hover {
    color: #4373ED;
    text-decoration: none;
}


.help-block {
    margin-top: 70px;
}


.row.help-block h4 {
    font-weight: bold;
    text-align: left;
    color: #1a1a1a;
    margin-top: 20px;
    font-size: 20px;
}

.row.help-block p {
    font-size: 15px;
    color: #7A7A7A;
    text-align: left;
    line-height: 19px;
    margin-bottom: 20px;
}

.help-block ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: block;
    font-size: 0;
    margin-top: 45px;
}

.help-block ul li {
    padding: 0px;
    margin: 0px 15px;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 176.5px;
}

.help-block ul li img {
    width: 100%;
}

.help-block ul li span {
    font-size: 12px;
    text-align: left;
    display: block;
    margin-top: 12px;
    line-height: 1.2em;
    font-family: 'Arial';
}

.help-block.logos-help ul li {
    width: auto;
    margin: 0px;
}

.row.help-block.logos-help ul {
    margin-bottom: 40px;
}

.socials-area {}

.gl1 {
    width: 100%;
    height: 480px;
    background: url(../img/gl1.png) 0 0 no-repeat;
    background-size: cover;
    padding: 39px;
}

.gl2 {
    width: 100%;
    height: 240px;
    background: url(../img/gl2.png) 0 0 no-repeat;
    background-size: cover;
    padding: 37px;
}

.gl3 {
    width: 100%;
    height: 240px;
    background: url(../img/gl3.png) 0 0 no-repeat;
    background-size: cover;
    padding: 37px;
}

.gl1 h3 {
    color: #F7CA00;
    text-align: left;
    margin-top: 233px;
    font-size: 36px;
    line-height: 1.2em;
}

.gl1 p {
    margin-top: 11px;
    color: #fff;
}

.gl2 h3 {
    color: #fff;
    text-align: left;
    margin-top: 0;
    font-size: 25px;
    line-height: 1.1em;
    position: absolute;
    bottom: 29px;
}


.gl2 h3:before {
    content: '';
    position: absolute;
    width: 92px;
    height: 2px;
    background: #F7CA00;
    margin-top: -16px;
}



.gl3 h3 {
    color: #fff;
    text-align: left;
    margin-top: 0;
    font-size: 25px;
    line-height: 1.1em;
    position: absolute;
    bottom: 38px;
}


.gl3 h3:before {
    content: '';
    position: absolute;
    width: 92px;
    height: 2px;
    background: #F7CA00;
    margin-top: -8px;
}


.imgs {
    position: relative;
}

.bg-main-im {
    margin-top: 33px;
}

.news-main {
    margin-top: 32px;
}

.phone-nav span {
    font-size: 11px;
    margin-bottom: 2px;
    display: block;
    margin-top: -2px;
}




.rect-auto,
.c100.p51 .slice,
.c100.p52 .slice,
.c100.p53 .slice,
.c100.p54 .slice,
.c100.p55 .slice,
.c100.p56 .slice,
.c100.p57 .slice,
.c100.p58 .slice,
.c100.p59 .slice,
.c100.p60 .slice,
.c100.p61 .slice,
.c100.p62 .slice,
.c100.p63 .slice,
.c100.p64 .slice,
.c100.p65 .slice,
.c100.p66 .slice,
.c100.p67 .slice,
.c100.p68 .slice,
.c100.p69 .slice,
.c100.p70 .slice,
.c100.p71 .slice,
.c100.p72 .slice,
.c100.p73 .slice,
.c100.p74 .slice,
.c100.p75 .slice,
.c100.p76 .slice,
.c100.p77 .slice,
.c100.p78 .slice,
.c100.p79 .slice,
.c100.p80 .slice,
.c100.p81 .slice,
.c100.p82 .slice,
.c100.p83 .slice,
.c100.p84 .slice,
.c100.p85 .slice,
.c100.p86 .slice,
.c100.p87 .slice,
.c100.p88 .slice,
.c100.p89 .slice,
.c100.p90 .slice,
.c100.p91 .slice,
.c100.p92 .slice,
.c100.p93 .slice,
.c100.p94 .slice,
.c100.p95 .slice,
.c100.p96 .slice,
.c100.p97 .slice,
.c100.p98 .slice,
.c100.p99 .slice,
.c100.p100 .slice {
    clip: rect(auto, auto, auto, auto);
}

.pie,
.c100 .bar,
.c100.p51 .fill,
.c100.p52 .fill,
.c100.p53 .fill,
.c100.p54 .fill,
.c100.p55 .fill,
.c100.p56 .fill,
.c100.p57 .fill,
.c100.p58 .fill,
.c100.p59 .fill,
.c100.p60 .fill,
.c100.p61 .fill,
.c100.p62 .fill,
.c100.p63 .fill,
.c100.p64 .fill,
.c100.p65 .fill,
.c100.p66 .fill,
.c100.p67 .fill,
.c100.p68 .fill,
.c100.p69 .fill,
.c100.p70 .fill,
.c100.p71 .fill,
.c100.p72 .fill,
.c100.p73 .fill,
.c100.p74 .fill,
.c100.p75 .fill,
.c100.p76 .fill,
.c100.p77 .fill,
.c100.p78 .fill,
.c100.p79 .fill,
.c100.p80 .fill,
.c100.p81 .fill,
.c100.p82 .fill,
.c100.p83 .fill,
.c100.p84 .fill,
.c100.p85 .fill,
.c100.p86 .fill,
.c100.p87 .fill,
.c100.p88 .fill,
.c100.p89 .fill,
.c100.p90 .fill,
.c100.p91 .fill,
.c100.p92 .fill,
.c100.p93 .fill,
.c100.p94 .fill,
.c100.p95 .fill,
.c100.p96 .fill,
.c100.p97 .fill,
.c100.p98 .fill,
.c100.p99 .fill,
.c100.p100 .fill {
    position: absolute;
    border: 0.05em solid #ffffff;
    width: 0.91em;
    height: 0.91em;
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.pie-fill,
.c100.p51 .bar:after,
.c100.p51 .fill,
.c100.p52 .bar:after,
.c100.p52 .fill,
.c100.p53 .bar:after,
.c100.p53 .fill,
.c100.p54 .bar:after,
.c100.p54 .fill,
.c100.p55 .bar:after,
.c100.p55 .fill,
.c100.p56 .bar:after,
.c100.p56 .fill,
.c100.p57 .bar:after,
.c100.p57 .fill,
.c100.p58 .bar:after,
.c100.p58 .fill,
.c100.p59 .bar:after,
.c100.p59 .fill,
.c100.p60 .bar:after,
.c100.p60 .fill,
.c100.p61 .bar:after,
.c100.p61 .fill,
.c100.p62 .bar:after,
.c100.p62 .fill,
.c100.p63 .bar:after,
.c100.p63 .fill,
.c100.p64 .bar:after,
.c100.p64 .fill,
.c100.p65 .bar:after,
.c100.p65 .fill,
.c100.p66 .bar:after,
.c100.p66 .fill,
.c100.p67 .bar:after,
.c100.p67 .fill,
.c100.p68 .bar:after,
.c100.p68 .fill,
.c100.p69 .bar:after,
.c100.p69 .fill,
.c100.p70 .bar:after,
.c100.p70 .fill,
.c100.p71 .bar:after,
.c100.p71 .fill,
.c100.p72 .bar:after,
.c100.p72 .fill,
.c100.p73 .bar:after,
.c100.p73 .fill,
.c100.p74 .bar:after,
.c100.p74 .fill,
.c100.p75 .bar:after,
.c100.p75 .fill,
.c100.p76 .bar:after,
.c100.p76 .fill,
.c100.p77 .bar:after,
.c100.p77 .fill,
.c100.p78 .bar:after,
.c100.p78 .fill,
.c100.p79 .bar:after,
.c100.p79 .fill,
.c100.p80 .bar:after,
.c100.p80 .fill,
.c100.p81 .bar:after,
.c100.p81 .fill,
.c100.p82 .bar:after,
.c100.p82 .fill,
.c100.p83 .bar:after,
.c100.p83 .fill,
.c100.p84 .bar:after,
.c100.p84 .fill,
.c100.p85 .bar:after,
.c100.p85 .fill,
.c100.p86 .bar:after,
.c100.p86 .fill,
.c100.p87 .bar:after,
.c100.p87 .fill,
.c100.p88 .bar:after,
.c100.p88 .fill,
.c100.p89 .bar:after,
.c100.p89 .fill,
.c100.p90 .bar:after,
.c100.p90 .fill,
.c100.p91 .bar:after,
.c100.p91 .fill,
.c100.p92 .bar:after,
.c100.p92 .fill,
.c100.p93 .bar:after,
.c100.p93 .fill,
.c100.p94 .bar:after,
.c100.p94 .fill,
.c100.p95 .bar:after,
.c100.p95 .fill,
.c100.p96 .bar:after,
.c100.p96 .fill,
.c100.p97 .bar:after,
.c100.p97 .fill,
.c100.p98 .bar:after,
.c100.p98 .fill,
.c100.p99 .bar:after,
.c100.p99 .fill,
.c100.p100 .bar:after,
.c100.p100 .fill {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.c100 {
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0 0.1em 0.1em 0;
    background-color: rgba(35, 35, 35, 0.5);
    display: block;
    margin: 0 auto;
    float: none;
}

.c100 *,
.c100 *:before,
.c100 *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.c100.center {
    float: none;
    margin: 0 auto;
}

.c100.big {
    font-size: 240px;
}

.c100.small {
    font-size: 80px;
}

.c100>span {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 37px;
    width: 100%;
    line-height: 21px;
    font-size: 14px;
    color: #fff;
    display: block;
    text-align: center;
    white-space: nowrap;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.c100:after {
    position: absolute;
    top: 0.08em;
    left: 0.08em;
    display: block;
    content: " ";
    border-radius: 50%;
    background-color: none;
    width: 0.84em;
    height: 0.84em;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.c100 .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em);
}

.c100.p1 .bar {
    -webkit-transform: rotate(3.6deg);
    -moz-transform: rotate(3.6deg);
    -ms-transform: rotate(3.6deg);
    -o-transform: rotate(3.6deg);
    transform: rotate(3.6deg);
}

.c100.p2 .bar {
    -webkit-transform: rotate(7.2deg);
    -moz-transform: rotate(7.2deg);
    -ms-transform: rotate(7.2deg);
    -o-transform: rotate(7.2deg);
    transform: rotate(7.2deg);
}

.c100.p3 .bar {
    -webkit-transform: rotate(10.8deg);
    -moz-transform: rotate(10.8deg);
    -ms-transform: rotate(10.8deg);
    -o-transform: rotate(10.8deg);
    transform: rotate(10.8deg);
}

.c100.p4 .bar {
    -webkit-transform: rotate(14.4deg);
    -moz-transform: rotate(14.4deg);
    -ms-transform: rotate(14.4deg);
    -o-transform: rotate(14.4deg);
    transform: rotate(14.4deg);
}

.c100.p5 .bar {
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    -o-transform: rotate(18deg);
    transform: rotate(18deg);
}

.c100.p6 .bar {
    -webkit-transform: rotate(21.6deg);
    -moz-transform: rotate(21.6deg);
    -ms-transform: rotate(21.6deg);
    -o-transform: rotate(21.6deg);
    transform: rotate(21.6deg);
}

.c100.p7 .bar {
    -webkit-transform: rotate(25.2deg);
    -moz-transform: rotate(25.2deg);
    -ms-transform: rotate(25.2deg);
    -o-transform: rotate(25.2deg);
    transform: rotate(25.2deg);
}

.c100.p8 .bar {
    -webkit-transform: rotate(28.8deg);
    -moz-transform: rotate(28.8deg);
    -ms-transform: rotate(28.8deg);
    -o-transform: rotate(28.8deg);
    transform: rotate(28.8deg);
}

.c100.p9 .bar {
    -webkit-transform: rotate(32.4deg);
    -moz-transform: rotate(32.4deg);
    -ms-transform: rotate(32.4deg);
    -o-transform: rotate(32.4deg);
    transform: rotate(32.4deg);
}

.c100.p10 .bar {
    -webkit-transform: rotate(36deg);
    -moz-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    -o-transform: rotate(36deg);
    transform: rotate(36deg);
}

.c100.p11 .bar {
    -webkit-transform: rotate(39.6deg);
    -moz-transform: rotate(39.6deg);
    -ms-transform: rotate(39.6deg);
    -o-transform: rotate(39.6deg);
    transform: rotate(39.6deg);
}

.c100.p12 .bar {
    -webkit-transform: rotate(43.2deg);
    -moz-transform: rotate(43.2deg);
    -ms-transform: rotate(43.2deg);
    -o-transform: rotate(43.2deg);
    transform: rotate(43.2deg);
}

.c100.p13 .bar {
    -webkit-transform: rotate(46.800000000000004deg);
    -moz-transform: rotate(46.800000000000004deg);
    -ms-transform: rotate(46.800000000000004deg);
    -o-transform: rotate(46.800000000000004deg);
    transform: rotate(46.800000000000004deg);
}

.c100.p14 .bar {
    -webkit-transform: rotate(50.4deg);
    -moz-transform: rotate(50.4deg);
    -ms-transform: rotate(50.4deg);
    -o-transform: rotate(50.4deg);
    transform: rotate(50.4deg);
}

.c100.p15 .bar {
    -webkit-transform: rotate(54deg);
    -moz-transform: rotate(54deg);
    -ms-transform: rotate(54deg);
    -o-transform: rotate(54deg);
    transform: rotate(54deg);
}

.c100.p16 .bar {
    -webkit-transform: rotate(57.6deg);
    -moz-transform: rotate(57.6deg);
    -ms-transform: rotate(57.6deg);
    -o-transform: rotate(57.6deg);
    transform: rotate(57.6deg);
}

.c100.p17 .bar {
    -webkit-transform: rotate(61.2deg);
    -moz-transform: rotate(61.2deg);
    -ms-transform: rotate(61.2deg);
    -o-transform: rotate(61.2deg);
    transform: rotate(61.2deg);
}

.c100.p18 .bar {
    -webkit-transform: rotate(64.8deg);
    -moz-transform: rotate(64.8deg);
    -ms-transform: rotate(64.8deg);
    -o-transform: rotate(64.8deg);
    transform: rotate(64.8deg);
}

.c100.p19 .bar {
    -webkit-transform: rotate(68.4deg);
    -moz-transform: rotate(68.4deg);
    -ms-transform: rotate(68.4deg);
    -o-transform: rotate(68.4deg);
    transform: rotate(68.4deg);
}

.c100.p20 .bar {
    -webkit-transform: rotate(72deg);
    -moz-transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    -o-transform: rotate(72deg);
    transform: rotate(72deg);
}

.c100.p21 .bar {
    -webkit-transform: rotate(75.60000000000001deg);
    -moz-transform: rotate(75.60000000000001deg);
    -ms-transform: rotate(75.60000000000001deg);
    -o-transform: rotate(75.60000000000001deg);
    transform: rotate(75.60000000000001deg);
}

.c100.p22 .bar {
    -webkit-transform: rotate(79.2deg);
    -moz-transform: rotate(79.2deg);
    -ms-transform: rotate(79.2deg);
    -o-transform: rotate(79.2deg);
    transform: rotate(79.2deg);
}

.c100.p23 .bar {
    -webkit-transform: rotate(82.8deg);
    -moz-transform: rotate(82.8deg);
    -ms-transform: rotate(82.8deg);
    -o-transform: rotate(82.8deg);
    transform: rotate(82.8deg);
}

.c100.p24 .bar {
    -webkit-transform: rotate(86.4deg);
    -moz-transform: rotate(86.4deg);
    -ms-transform: rotate(86.4deg);
    -o-transform: rotate(86.4deg);
    transform: rotate(86.4deg);
}

.c100.p25 .bar {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.c100.p26 .bar {
    -webkit-transform: rotate(93.60000000000001deg);
    -moz-transform: rotate(93.60000000000001deg);
    -ms-transform: rotate(93.60000000000001deg);
    -o-transform: rotate(93.60000000000001deg);
    transform: rotate(93.60000000000001deg);
}

.c100.p27 .bar {
    -webkit-transform: rotate(97.2deg);
    -moz-transform: rotate(97.2deg);
    -ms-transform: rotate(97.2deg);
    -o-transform: rotate(97.2deg);
    transform: rotate(97.2deg);
}

.c100.p28 .bar {
    -webkit-transform: rotate(100.8deg);
    -moz-transform: rotate(100.8deg);
    -ms-transform: rotate(100.8deg);
    -o-transform: rotate(100.8deg);
    transform: rotate(100.8deg);
}

.c100.p29 .bar {
    -webkit-transform: rotate(104.4deg);
    -moz-transform: rotate(104.4deg);
    -ms-transform: rotate(104.4deg);
    -o-transform: rotate(104.4deg);
    transform: rotate(104.4deg);
}

.c100.p30 .bar {
    -webkit-transform: rotate(108deg);
    -moz-transform: rotate(108deg);
    -ms-transform: rotate(108deg);
    -o-transform: rotate(108deg);
    transform: rotate(108deg);
}

.c100.p31 .bar {
    -webkit-transform: rotate(111.60000000000001deg);
    -moz-transform: rotate(111.60000000000001deg);
    -ms-transform: rotate(111.60000000000001deg);
    -o-transform: rotate(111.60000000000001deg);
    transform: rotate(111.60000000000001deg);
}

.c100.p32 .bar {
    -webkit-transform: rotate(115.2deg);
    -moz-transform: rotate(115.2deg);
    -ms-transform: rotate(115.2deg);
    -o-transform: rotate(115.2deg);
    transform: rotate(115.2deg);
}

.c100.p33 .bar {
    -webkit-transform: rotate(118.8deg);
    -moz-transform: rotate(118.8deg);
    -ms-transform: rotate(118.8deg);
    -o-transform: rotate(118.8deg);
    transform: rotate(118.8deg);
}

.c100.p34 .bar {
    -webkit-transform: rotate(122.4deg);
    -moz-transform: rotate(122.4deg);
    -ms-transform: rotate(122.4deg);
    -o-transform: rotate(122.4deg);
    transform: rotate(122.4deg);
}

.c100.p35 .bar {
    -webkit-transform: rotate(126deg);
    -moz-transform: rotate(126deg);
    -ms-transform: rotate(126deg);
    -o-transform: rotate(126deg);
    transform: rotate(126deg);
}

.c100.p36 .bar {
    -webkit-transform: rotate(129.6deg);
    -moz-transform: rotate(129.6deg);
    -ms-transform: rotate(129.6deg);
    -o-transform: rotate(129.6deg);
    transform: rotate(129.6deg);
}

.c100.p37 .bar {
    -webkit-transform: rotate(133.20000000000002deg);
    -moz-transform: rotate(133.20000000000002deg);
    -ms-transform: rotate(133.20000000000002deg);
    -o-transform: rotate(133.20000000000002deg);
    transform: rotate(133.20000000000002deg);
}

.c100.p38 .bar {
    -webkit-transform: rotate(136.8deg);
    -moz-transform: rotate(136.8deg);
    -ms-transform: rotate(136.8deg);
    -o-transform: rotate(136.8deg);
    transform: rotate(136.8deg);
}

.c100.p39 .bar {
    -webkit-transform: rotate(140.4deg);
    -moz-transform: rotate(140.4deg);
    -ms-transform: rotate(140.4deg);
    -o-transform: rotate(140.4deg);
    transform: rotate(140.4deg);
}

.c100.p40 .bar {
    -webkit-transform: rotate(144deg);
    -moz-transform: rotate(144deg);
    -ms-transform: rotate(144deg);
    -o-transform: rotate(144deg);
    transform: rotate(144deg);
}

.c100.p41 .bar {
    -webkit-transform: rotate(147.6deg);
    -moz-transform: rotate(147.6deg);
    -ms-transform: rotate(147.6deg);
    -o-transform: rotate(147.6deg);
    transform: rotate(147.6deg);
}

.c100.p42 .bar {
    -webkit-transform: rotate(151.20000000000002deg);
    -moz-transform: rotate(151.20000000000002deg);
    -ms-transform: rotate(151.20000000000002deg);
    -o-transform: rotate(151.20000000000002deg);
    transform: rotate(151.20000000000002deg);
}

.c100.p43 .bar {
    -webkit-transform: rotate(154.8deg);
    -moz-transform: rotate(154.8deg);
    -ms-transform: rotate(154.8deg);
    -o-transform: rotate(154.8deg);
    transform: rotate(154.8deg);
}

.c100.p44 .bar {
    -webkit-transform: rotate(158.4deg);
    -moz-transform: rotate(158.4deg);
    -ms-transform: rotate(158.4deg);
    -o-transform: rotate(158.4deg);
    transform: rotate(158.4deg);
}

.c100.p45 .bar {
    -webkit-transform: rotate(162deg);
    -moz-transform: rotate(162deg);
    -ms-transform: rotate(162deg);
    -o-transform: rotate(162deg);
    transform: rotate(162deg);
}

.c100.p46 .bar {
    -webkit-transform: rotate(165.6deg);
    -moz-transform: rotate(165.6deg);
    -ms-transform: rotate(165.6deg);
    -o-transform: rotate(165.6deg);
    transform: rotate(165.6deg);
}

.c100.p47 .bar {
    -webkit-transform: rotate(169.20000000000002deg);
    -moz-transform: rotate(169.20000000000002deg);
    -ms-transform: rotate(169.20000000000002deg);
    -o-transform: rotate(169.20000000000002deg);
    transform: rotate(169.20000000000002deg);
}

.c100.p48 .bar {
    -webkit-transform: rotate(172.8deg);
    -moz-transform: rotate(172.8deg);
    -ms-transform: rotate(172.8deg);
    -o-transform: rotate(172.8deg);
    transform: rotate(172.8deg);
}

.c100.p49 .bar {
    -webkit-transform: rotate(176.4deg);
    -moz-transform: rotate(176.4deg);
    -ms-transform: rotate(176.4deg);
    -o-transform: rotate(176.4deg);
    transform: rotate(176.4deg);
}

.c100.p50 .bar {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.c100.p51 .bar {
    -webkit-transform: rotate(183.6deg);
    -moz-transform: rotate(183.6deg);
    -ms-transform: rotate(183.6deg);
    -o-transform: rotate(183.6deg);
    transform: rotate(183.6deg);
}

.c100.p52 .bar {
    -webkit-transform: rotate(187.20000000000002deg);
    -moz-transform: rotate(187.20000000000002deg);
    -ms-transform: rotate(187.20000000000002deg);
    -o-transform: rotate(187.20000000000002deg);
    transform: rotate(187.20000000000002deg);
}

.c100.p53 .bar {
    -webkit-transform: rotate(190.8deg);
    -moz-transform: rotate(190.8deg);
    -ms-transform: rotate(190.8deg);
    -o-transform: rotate(190.8deg);
    transform: rotate(190.8deg);
}

.c100.p54 .bar {
    -webkit-transform: rotate(194.4deg);
    -moz-transform: rotate(194.4deg);
    -ms-transform: rotate(194.4deg);
    -o-transform: rotate(194.4deg);
    transform: rotate(194.4deg);
}

.c100.p55 .bar {
    -webkit-transform: rotate(198deg);
    -moz-transform: rotate(198deg);
    -ms-transform: rotate(198deg);
    -o-transform: rotate(198deg);
    transform: rotate(198deg);
}

.c100.p56 .bar {
    -webkit-transform: rotate(201.6deg);
    -moz-transform: rotate(201.6deg);
    -ms-transform: rotate(201.6deg);
    -o-transform: rotate(201.6deg);
    transform: rotate(201.6deg);
}

.c100.p57 .bar {
    -webkit-transform: rotate(205.20000000000002deg);
    -moz-transform: rotate(205.20000000000002deg);
    -ms-transform: rotate(205.20000000000002deg);
    -o-transform: rotate(205.20000000000002deg);
    transform: rotate(205.20000000000002deg);
}

.c100.p58 .bar {
    -webkit-transform: rotate(208.8deg);
    -moz-transform: rotate(208.8deg);
    -ms-transform: rotate(208.8deg);
    -o-transform: rotate(208.8deg);
    transform: rotate(208.8deg);
}

.c100.p59 .bar {
    -webkit-transform: rotate(212.4deg);
    -moz-transform: rotate(212.4deg);
    -ms-transform: rotate(212.4deg);
    -o-transform: rotate(212.4deg);
    transform: rotate(212.4deg);
}

.c100.p60 .bar {
    -webkit-transform: rotate(216deg);
    -moz-transform: rotate(216deg);
    -ms-transform: rotate(216deg);
    -o-transform: rotate(216deg);
    transform: rotate(216deg);
}

.c100.p61 .bar {
    -webkit-transform: rotate(219.6deg);
    -moz-transform: rotate(219.6deg);
    -ms-transform: rotate(219.6deg);
    -o-transform: rotate(219.6deg);
    transform: rotate(219.6deg);
}

.c100.p62 .bar {
    -webkit-transform: rotate(223.20000000000002deg);
    -moz-transform: rotate(223.20000000000002deg);
    -ms-transform: rotate(223.20000000000002deg);
    -o-transform: rotate(223.20000000000002deg);
    transform: rotate(223.20000000000002deg);
}

.c100.p63 .bar {
    -webkit-transform: rotate(226.8deg);
    -moz-transform: rotate(226.8deg);
    -ms-transform: rotate(226.8deg);
    -o-transform: rotate(226.8deg);
    transform: rotate(226.8deg);
}

.c100.p64 .bar {
    -webkit-transform: rotate(230.4deg);
    -moz-transform: rotate(230.4deg);
    -ms-transform: rotate(230.4deg);
    -o-transform: rotate(230.4deg);
    transform: rotate(230.4deg);
}

.c100.p65 .bar {
    -webkit-transform: rotate(234deg);
    -moz-transform: rotate(234deg);
    -ms-transform: rotate(234deg);
    -o-transform: rotate(234deg);
    transform: rotate(234deg);
}

.c100.p66 .bar {
    -webkit-transform: rotate(237.6deg);
    -moz-transform: rotate(237.6deg);
    -ms-transform: rotate(237.6deg);
    -o-transform: rotate(237.6deg);
    transform: rotate(237.6deg);
}

.c100.p67 .bar {
    -webkit-transform: rotate(241.20000000000002deg);
    -moz-transform: rotate(241.20000000000002deg);
    -ms-transform: rotate(241.20000000000002deg);
    -o-transform: rotate(241.20000000000002deg);
    transform: rotate(241.20000000000002deg);
}

.c100.p68 .bar {
    -webkit-transform: rotate(244.8deg);
    -moz-transform: rotate(244.8deg);
    -ms-transform: rotate(244.8deg);
    -o-transform: rotate(244.8deg);
    transform: rotate(244.8deg);
}

.c100.p69 .bar {
    -webkit-transform: rotate(248.4deg);
    -moz-transform: rotate(248.4deg);
    -ms-transform: rotate(248.4deg);
    -o-transform: rotate(248.4deg);
    transform: rotate(248.4deg);
}

.c100.p70 .bar {
    -webkit-transform: rotate(252deg);
    -moz-transform: rotate(252deg);
    -ms-transform: rotate(252deg);
    -o-transform: rotate(252deg);
    transform: rotate(252deg);
}

.c100.p71 .bar {
    -webkit-transform: rotate(255.6deg);
    -moz-transform: rotate(255.6deg);
    -ms-transform: rotate(255.6deg);
    -o-transform: rotate(255.6deg);
    transform: rotate(255.6deg);
}

.c100.p72 .bar {
    -webkit-transform: rotate(259.2deg);
    -moz-transform: rotate(259.2deg);
    -ms-transform: rotate(259.2deg);
    -o-transform: rotate(259.2deg);
    transform: rotate(259.2deg);
}

.c100.p73 .bar {
    -webkit-transform: rotate(262.8deg);
    -moz-transform: rotate(262.8deg);
    -ms-transform: rotate(262.8deg);
    -o-transform: rotate(262.8deg);
    transform: rotate(262.8deg);
}

.c100.p74 .bar {
    -webkit-transform: rotate(266.40000000000003deg);
    -moz-transform: rotate(266.40000000000003deg);
    -ms-transform: rotate(266.40000000000003deg);
    -o-transform: rotate(266.40000000000003deg);
    transform: rotate(266.40000000000003deg);
}

.c100.p75 .bar {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.c100.p76 .bar {
    -webkit-transform: rotate(273.6deg);
    -moz-transform: rotate(273.6deg);
    -ms-transform: rotate(273.6deg);
    -o-transform: rotate(273.6deg);
    transform: rotate(273.6deg);
}

.c100.p77 .bar {
    -webkit-transform: rotate(277.2deg);
    -moz-transform: rotate(277.2deg);
    -ms-transform: rotate(277.2deg);
    -o-transform: rotate(277.2deg);
    transform: rotate(277.2deg);
}

.c100.p78 .bar {
    -webkit-transform: rotate(280.8deg);
    -moz-transform: rotate(280.8deg);
    -ms-transform: rotate(280.8deg);
    -o-transform: rotate(280.8deg);
    transform: rotate(280.8deg);
}

.c100.p79 .bar {
    -webkit-transform: rotate(284.40000000000003deg);
    -moz-transform: rotate(284.40000000000003deg);
    -ms-transform: rotate(284.40000000000003deg);
    -o-transform: rotate(284.40000000000003deg);
    transform: rotate(284.40000000000003deg);
}

.c100.p80 .bar {
    -webkit-transform: rotate(288deg);
    -moz-transform: rotate(288deg);
    -ms-transform: rotate(288deg);
    -o-transform: rotate(288deg);
    transform: rotate(288deg);
}

.c100.p81 .bar {
    -webkit-transform: rotate(291.6deg);
    -moz-transform: rotate(291.6deg);
    -ms-transform: rotate(291.6deg);
    -o-transform: rotate(291.6deg);
    transform: rotate(291.6deg);
}

.c100.p82 .bar {
    -webkit-transform: rotate(295.2deg);
    -moz-transform: rotate(295.2deg);
    -ms-transform: rotate(295.2deg);
    -o-transform: rotate(295.2deg);
    transform: rotate(295.2deg);
}

.c100.p83 .bar {
    -webkit-transform: rotate(298.8deg);
    -moz-transform: rotate(298.8deg);
    -ms-transform: rotate(298.8deg);
    -o-transform: rotate(298.8deg);
    transform: rotate(298.8deg);
}

.c100.p84 .bar {
    -webkit-transform: rotate(302.40000000000003deg);
    -moz-transform: rotate(302.40000000000003deg);
    -ms-transform: rotate(302.40000000000003deg);
    -o-transform: rotate(302.40000000000003deg);
    transform: rotate(302.40000000000003deg);
}

.c100.p85 .bar {
    -webkit-transform: rotate(306deg);
    -moz-transform: rotate(306deg);
    -ms-transform: rotate(306deg);
    -o-transform: rotate(306deg);
    transform: rotate(306deg);
}

.c100.p86 .bar {
    -webkit-transform: rotate(309.6deg);
    -moz-transform: rotate(309.6deg);
    -ms-transform: rotate(309.6deg);
    -o-transform: rotate(309.6deg);
    transform: rotate(309.6deg);
}

.c100.p87 .bar {
    -webkit-transform: rotate(313.2deg);
    -moz-transform: rotate(313.2deg);
    -ms-transform: rotate(313.2deg);
    -o-transform: rotate(313.2deg);
    transform: rotate(313.2deg);
}

.c100.p88 .bar {
    -webkit-transform: rotate(316.8deg);
    -moz-transform: rotate(316.8deg);
    -ms-transform: rotate(316.8deg);
    -o-transform: rotate(316.8deg);
    transform: rotate(316.8deg);
}

.c100.p89 .bar {
    -webkit-transform: rotate(320.40000000000003deg);
    -moz-transform: rotate(320.40000000000003deg);
    -ms-transform: rotate(320.40000000000003deg);
    -o-transform: rotate(320.40000000000003deg);
    transform: rotate(320.40000000000003deg);
}

.c100.p90 .bar {
    -webkit-transform: rotate(324deg);
    -moz-transform: rotate(324deg);
    -ms-transform: rotate(324deg);
    -o-transform: rotate(324deg);
    transform: rotate(324deg);
}

.c100.p91 .bar {
    -webkit-transform: rotate(327.6deg);
    -moz-transform: rotate(327.6deg);
    -ms-transform: rotate(327.6deg);
    -o-transform: rotate(327.6deg);
    transform: rotate(327.6deg);
}

.c100.p92 .bar {
    -webkit-transform: rotate(331.2deg);
    -moz-transform: rotate(331.2deg);
    -ms-transform: rotate(331.2deg);
    -o-transform: rotate(331.2deg);
    transform: rotate(331.2deg);
}

.c100.p93 .bar {
    -webkit-transform: rotate(334.8deg);
    -moz-transform: rotate(334.8deg);
    -ms-transform: rotate(334.8deg);
    -o-transform: rotate(334.8deg);
    transform: rotate(334.8deg);
}

.c100.p94 .bar {
    -webkit-transform: rotate(338.40000000000003deg);
    -moz-transform: rotate(338.40000000000003deg);
    -ms-transform: rotate(338.40000000000003deg);
    -o-transform: rotate(338.40000000000003deg);
    transform: rotate(338.40000000000003deg);
}

.c100.p95 .bar {
    -webkit-transform: rotate(342deg);
    -moz-transform: rotate(342deg);
    -ms-transform: rotate(342deg);
    -o-transform: rotate(342deg);
    transform: rotate(342deg);
}

.c100.p96 .bar {
    -webkit-transform: rotate(345.6deg);
    -moz-transform: rotate(345.6deg);
    -ms-transform: rotate(345.6deg);
    -o-transform: rotate(345.6deg);
    transform: rotate(345.6deg);
}

.c100.p97 .bar {
    -webkit-transform: rotate(349.2deg);
    -moz-transform: rotate(349.2deg);
    -ms-transform: rotate(349.2deg);
    -o-transform: rotate(349.2deg);
    transform: rotate(349.2deg);
}

.c100.p98 .bar {
    -webkit-transform: rotate(352.8deg);
    -moz-transform: rotate(352.8deg);
    -ms-transform: rotate(352.8deg);
    -o-transform: rotate(352.8deg);
    transform: rotate(352.8deg);
}

.c100.p99 .bar {
    -webkit-transform: rotate(356.40000000000003deg);
    -moz-transform: rotate(356.40000000000003deg);
    -ms-transform: rotate(356.40000000000003deg);
    -o-transform: rotate(356.40000000000003deg);
    transform: rotate(356.40000000000003deg);
}

.c100.p100 .bar {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.c100.dark {
    background-color: #777777;
}

.c100.dark .bar,
.c100.dark .fill {
    border-color: #c6ff00;
}

.c100.dark>span {
    color: #777777;
}

.c100.dark:after {
    background-color: #666666;
}

.c100.green .bar,
.c100.green .fill {
    border-color: #4db53c;
}

.c100.green.dark .bar,
.c100.green.dark .fill {
    border-color: #5fd400;
}

.c100.orange .bar,
.c100.orange .fill {
    border-color: #dd9d22;
}

.c100.orange.dark .bar,
.c100.orange.dark .fill {
    border-color: #e08833;
}


.help-block ul li {
    margin-bottom: 30px;
}


.row.help-block.logos-help {
    margin-top: 40px;
}


.section-main {
    position: relative;
}

.bird-main {
    width: 407px;
    height: 347px;
    background: url(../img/br.png) 0 0 no-repeat;
    position: absolute;
    right: -285px;
    top: -155px;
}

.bird-left-1 {
    width: 99px;
    height: 99px;
    background: url(../img/lf.png) 0 0 no-repeat;
    position: absolute;
    left: 0px;
    top: 91px;
}


.about-section .bird-left-1 {
    width: 99px;
    height: 99px;
    background: url(../img/lf.png) 0 0 no-repeat;
    position: absolute;
    left: 86px;
    top: 220px;
}


.bird-right-1 {
    width: 129px;
    height: 129px;
    background: url(../img/br2.png) 0 0 no-repeat;
    position: absolute;
    right: -46px;
    top: 346px;
}

.bird-left-2 {
    width: 140px;
    height: 130px;
    background: url(../img/bl2.png) 0 0 no-repeat;
    position: absolute;
    left: -200px;
    top: 1128px;
}

.bird-right-2 {
    width: 96px;
    height: 96px;
    background: url(../img/br3.png) 0 0 no-repeat;
    position: absolute;
    right: -156px;
    top: 1314px;
}

.bird-left-bottom {
    width: 232px;
    height: 282px;
    background: url(../img/bf.png) 0 0 no-repeat;
    position: absolute;
    left: 0px;
    bottom: 55px;
}

.right-menu {
    margin-top: 32px;
}

.right-menu li a {
    color: #4E7DEE;
    display: block;
    margin-top: 7px;
    padding-left: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: -10px;
}

.right-menu li a:before {
    width: 15px;
    height: 15px;
    margin-left: -12px;
    content: '';
    position: absolute;
    background: url(../img/tr.png) 0 0 no-repeat;
    margin-top: 5px;
}

.txtl-area {
    margin-top: 30px;
}

.txtl-area p {
    font-size: 16px;
    margin-bottom: 15px;
    font-family: 'Arial';
}

.fll-ar {
    width: 142px;
    height: 142px;
    background: #10389B;
    border-radius: 150px;
    color: #fff;
    text-align: center;
    padding-top: 59px;
    font-size: 24px;
    font-weight: 600;
    float: left;
    margin-right: 30px;
}


.fnt-area {
    clear: both;
    margin-bottom: 28px;
    overflow: hidden;
}


.flr-ar {
    height: 142px;
    display: flex;
}


.fll-ar {
    width: 142px;
    height: 142px;
    background: #10389B;
    border-radius: 150px;
    color: #fff;
    text-align: center;
    padding-top: 55px;
    font-size: 28px;
    font-weight: 600;
    float: left;
    margin-right: 30px;
}

.uls-about li {
    color: #656565;
    margin-top: 23px;
    line-height: 1.4em;
    padding-left: 20px;
}

.uls-about li:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background: #0f2f86;
    border-radius: 50px;
    margin-left: -19px;
    margin-top: 7px;
}

.flr-ar p {
    margin: auto;
}


.txt-ul-about {
    margin-top: 90px;
}

.about-nb {
    margin-top: 50px;
}

.right-menu li a:hover {
    text-decoration: none;
    background: rgba(234, 234, 234, 0.5);
}

.right-menu li a.active {
    background: #F9F9F9;
}


/* news */

.clm-left {
    width: 32%;
    margin-right: 5%;
    float: left;
}

.clm-right {
    width: 63%;
    float: left;
}

.clm-right .news-area-s {
    border-bottom: 0;
}

section.section-main.news-section .row {
    margin-top: 45px;
}

section.section-main.news-section .col-md-6 {
    margin-bottom: 40px;
}


.braed-area a {
    text-transform: none;
    text-decoration: underline;
}

.braed-area a:hover {
    text-decoration: none;
}

.flle-rt {
    float: left;
    padding-right: 45px;
    padding-bottom: 19px;
}

.pp-news {
    margin-bottom: 10px;
}

.section-main .news-page-area h4 {
    text-align: left;
    margin-left: 0;
    font-weight: 700;
    color: #2660ef;
    font-size: 34px;
    line-height: 1.1em;
}

.news-page-area h5 {
    font-weight: 700;
    margin-bottom: 35px;
    margin-top: 30px;
}

.share-area {
    margin-bottom: 40px;
    clear: both;
}

.news-page-area .all-news {
    margin-top: -29px;
    margin-bottom: 40px;
}

.more-news-area {
    margin-bottom: 70px;
}


.more-news-area .sp-h3-area {
    margin-bottom: 40px;
}

.srk-info {
    color: #0c349e;
    display: block;
    text-decoration: underline;
    margin-top: 20px;
    line-height: 1.2em;
}

.srk-info:hover,
.srk-info:focus {
    text-decoration: none;
    color: #425BA9;
}

.info-blk-blue {
    background: #E8EEFB;
    padding: 30px;
    margin-bottom: 50px;
}

.form-contacts-area .form-control {
    margin-top: 28px;
    border-radius: 0;
    box-shadow: none;
    height: 50px;
    text-transform: uppercase;
    border-color: #d7d7d7;
    font-size: 12px;
    padding-left: 20px;
    color: #333;
    letter-spacing: 0.4px;
}

.form-control:focus {
    border-color: #425BA9;
}


.radio-area label {
    text-transform: uppercase;
    font-size: 12px;
    color: #333;
}


.radio-area.col-md-12.col-sm-12.col-xs-12 {
    margin-top: 30px;
    margin-bottom: 23px;
}


.jq-radio {
    top: -1px;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    margin: 0 4px 0 0;
    border: 1px solid #191919;
    border-radius: 15px;
    background: #fff;
    cursor: pointer;
}


.jq-radio {
    top: -1px;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    margin: 0 4px 0 0;
    border: 1px solid #d8d8d8;
    border-radius: 15px;
    background: #fff;
    cursor: pointer;
}

.jq-radio.checked .jq-radio__div {
    width: 12px;
    height: 12px;
    margin: 4px 0 0 4px;
    border-radius: 50%;
    background: #0f349f;
}

.radio-area li {
    margin-bottom: 7px;
}


.radio-area label {
    text-transform: uppercase;
    font-size: 14px;
}


.frm-att {
    position: relative;
    clear: both;
}

.phone-nav p {
    color: #fff;
}


a.soc1 {
    background: url(../img/sp.png) 0 0 no-repeat;
}

a.soc2 {
    background: url(../img/sp.png) 0 0 no-repeat;
    background-position: -33px;
}

a.soc3 {
    background: url(../img/sp.png) 0 0 no-repeat;
    background-position: -71px;
}


.soc1:hover,
.soc2:hover,
.soc3:hover {
    opacity: 0.8;
}


.ft-block {
    padding-bottom: 55px;
    font-size: 60px;
    margin-top: 10px;
}


.uls-about ul {
    margin-top: 35px;
}


.flr-ar p,
.row.help-block p,
.news-area-s p,
.trio-p {
    font-family: 'Arial';
}

.pp-news p {
    margin-top: -4px;
    font-family: 'Arial';
    margin-bottom: 15px;
    line-height: 1.3em;
}


.news-page-area {
    margin-bottom: 65px;
}


.col-md-12.col-sm-12.col-xs-12 .sp-h3-area h3 {
    background: none;
}



section.news-page-section .bird-right-2 {
    width: 96px;
    height: 96px;
    background: url(../img/br3.png) 0 0 no-repeat;
    position: absolute;
    right: -156px;
    top: 670px;
}


section.news-page-section .bird-left-2 {
    width: 140px;
    height: 130px;
    background: url(../img/bl2.png) 0 0 no-repeat;
    position: absolute;
    left: -200px;
    top: 450px;
}




section.news-section .news-area-s a,
section.news-page-section .news-area-s a {
    font-size: 17px;
}


section.news-section .bird-right-2 {
    width: 96px;
    height: 96px;
    background: url(../img/br3.png) 0 0 no-repeat;
    position: absolute;
    right: -156px;
    top: 514px;
}

section.news-section .bird-left-2 {
    width: 140px;
    height: 130px;
    background: url(../img/bl2.png) 0 0 no-repeat;
    position: absolute;
    left: -200px;
    top: 400px;
}


section.news-section .bird-left-1 {
    width: 99px;
    height: 99px;
    background: url(../img/lf.png) 0 0 no-repeat;
    position: absolute;
    left: 0px;
    top: 202px;
}



.programs-area .bird-right-2 {
    width: 96px;
    height: 96px;
    background: url(../img/br3.png) 0 0 no-repeat;
    position: absolute;
    right: -156px;
    top: 514px;
}


.programs-area .bird-left-2 {
    width: 140px;
    height: 130px;
    background: url(../img/bl2.png) 0 0 no-repeat;
    position: absolute;
    left: -200px;
    top: 320px;
}





.programs-area .mt-nb {
    margin-top: 30px;
    margin-bottom: 30px;
}

.esb {
    padding: 0 0 0 30px;
}

.esb p {
    margin-bottom: 15px;
    font-family: Arial;
    font-size: 16px;
}

.section-main .esb h4 {
    text-align: left;
    margin-left: 0;
    font-weight: 700;
    color: #2660ef;
    font-size: 29px;
    line-height: 1.1em;
    margin-top: -5px;
}

.gl1 p {
    font-family: Arial;
}

.right-menu {
    margin-top: 21px;
    margin-bottom: 50px;
}

section.section-main.programs-area.o-projects .bird-right-1 {
    width: 129px;
    height: 129px;
    background: url(../img/br2.png) 0 0 no-repeat;
    position: absolute;
    right: -46px;
    top: 478px;
}


section.section-main.programs-area.o-projects .programs-area .bird-right-2 {
    width: 96px;
    height: 96px;
    background: url(../img/br3.png) 0 0 no-repeat;
    position: absolute;
    right: -156px;
    top: 614px;
}


section.section-main.childrens .mt-nb {
    margin-top: -74px;
    margin-bottom: 30px;
}

.row.help-block a {
    text-decoration: none;
}

.help-block ul li span {
    color: #898989;
}

.bgt-ns {
    background: #f3f3f3;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 0px;
    overflow: hidden;
}

.fl-rt {
    float: left;
    width: 64%;
    padding-left: 22px;
    padding-right: 38px;
}

.im-area-l {
    float: left;
    width: 36%;
}

.fl-rt h5 {
    font-size: 23px;
    font-weight: bold;
    color: #1a1a1a;
    margin-bottom: 6px;
    margin-top: -2px;
}

.fl-rt p.plo-st {
    font-size: 14px;
    color: #285ff1;
    line-height: 15px;
}

p.plo-st2 {
    font-size: 14px;
    color: #1a1a1a;
    margin-top: -15px;
    line-height: 15px;
}

.fl-rt strong {
    display: block;
    clear: both;
    margin-top: -20px;
    font-weight: bold;
    font-size: 14px;
    color: #a30404;
    margin-bottom: 5px;
    margin-top: -14px;
}

.fl-rt span {
    font-size: 12px;
    text-align: left;
    display: block;
    margin-top: 2px;
    line-height: 1.2em;
    font-family: 'Arial';
    color: #898989;
}

.button-n {
    float: left;
    background: #285FF0;
    display: block;
    border-radius: 4px;
    padding: 11px 17px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 3px solid #0f2f86;
    margin-top: 7px;
    letter-spacing: 0.1em;
    clear: both;
}

.row.help-block.help-main {
    z-index: 9;
    position: relative;
}

.button-n:hover,
.button-n:focus {
    background: #E3B529;
    color: #1a1a1a;
    border-bottom: 3px solid #9a7607;
}

.childrens .bird-left-2 {
    width: 140px;
    height: 130px;
    background: url(../img/bl2.png) 0 0 no-repeat;
    position: absolute;
    left: -200px;
    top: 498px;
}

.childrens .bird-left-1 {
    width: 99px;
    height: 99px;
    background: url(../img/lf.png) 0 0 no-repeat;
    position: absolute;
    left: auto;
    top: 591px;
    right: -148px;
}

.otchets-area .bird-left-2 {
    width: 140px;
    height: 130px;
    background: url(../img/bl2.png) 0 0 no-repeat;
    position: absolute;
    left: -137px;
    top: 141px;
}


.otc-a {}

.otc-a:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 30px;
    background: url(../img/d-icon.png) 0 0 no-repeat;
    margin-left: 14px;
    margin-top: -3px;
}

.otc-a {
    padding-right: 50px;
    color: #4E7DEE;
    font-size: 18px;
}

.otc-a:hover,
.otc-a:focus {
    color: #4E7DEE;
    text-decoration: underline;
}

.otcr-ar {
    margin-bottom: 10px;
}

.otcr-ar span {
    font-weight: bold;
    font-size: 20px;
    vertical-align: text-bottom;
}


.otc-nt {
    margin-top: 32px;
}

.otc-nt .otcr-ar {
    margin-bottom: 20px;
}

.im-sert-area {
    margin-top: 32px;
    padding: 30px;
    border: 1px solid #bbb9b9;
}

.sert-nt-area span {
    font-size: 18px;
    font-weight: bold;
    color: #154cdb;
    margin-top: 17px;
    display: block;
    margin-bottom: 5px;
    line-height: 1.1em;
}

.sert-nt-area {
    cursor: pointer;
}

.doc-area {
    margin-bottom: 40px;
}

.sert-nt-area:hover {
    opacity: 0.8;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}


.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-weight: bold;
    color: #1a1a1a;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.grea-ar-sov h5 {
    font-size: 20px;
    font-weight: 700;
    color: #1a1a1a;
}

.grea-ar-sov p {
    font-family: 'Arial';
    font-size: 14px;
    color: #1a1a1a;
    margin-top: 18px;
}

.sov-area.row {
    margin-top: 40px;
}

.grea-ar-sov {
    background: #f9f9f9;
    padding: 30px;
    margin-bottom: 29px;
    padding-bottom: 40px;
}


.grea-ar-sov img {
    margin-bottom: 25px;
}

.sovet-area .bird-left-2 {
    width: 140px;
    height: 130px;
    background: url(../img/bl2.png) 0 0 no-repeat;
    position: absolute;
    left: -137px;
    top: 441px;
}

.w100 {
    width: 100%;
}

.child-page .w100 p.plo-st {
    font-size: 18px;
    line-height: 20px;
    margin-top: 12px;
}

.child-page .fl-rt h5 {
    font-size: 24px;
}


.child-page p.plo-st2 {
    font-size: 14px;
    color: #1a1a1a;
    margin-top: 10px;
    line-height: 15px;
    margin-bottom: 23px;
}

.child-page a.button-n {
    margin-top: 20px;
}

.blago-p-area {
    clear: both;
    margin-top: 100px;
}


.blago-p-area p {
    color: #1a1a1a;
    font-family: 'Arial';
    font-size: 14px;
    margin-bottom: 15px;
}

.date-bth {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.date-bth b {
    font-weight: bold;
}


.imgs.b-rty {
    margin-right: 18px;
}

.no-bords {
    margin-top: 25px;
}

.help-block h4 {
    margin-bottom: 10px;
}

.chld-s {
    margin-top: 29px;
    overflow: hidden;
}

.col-md-4.col-sm-4.col-xs-12.no-bords2 {
    margin-top: 18px;
}

.chld-s .img-c-area {
    width: 50%;
    float: left;
}

.padd-cld {
    padding-left: 15px;
    width: 50%;
    float: left;
}

section.section-main.programs-area.o-projects.child-page .padd-cld h4 {
    font-weight: bold;
    text-align: left;
    color: #1a1a1a;
    margin-top: 18px;
    font-size: 20px;
    margin-bottom: 14px;
}

.padd-cld p {
    font-size: 15px;
    color: #7A7A7A;
    text-align: left;
    line-height: 19px;
    margin-bottom: 20px;
}

.padd-cld span {
    font-size: 12px;
    text-align: left;
    display: block;
    margin-top: 12px;
    line-height: 1.2em;
    font-family: 'Arial';
    color: #898989;
}

.col-md-4.col-sm-4.col-xs-12.sp-xs1200.no-bords2 {
    padding-left: 0;
    padding-right: 15px;
}

.child-page {
    padding-bottom: 100px;
}


.child-page .fl-rt strong {
    margin-bottom: 8px;
}

.no-bords h5 {
    text-align: left;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.imgs.b-rty {
    margin-bottom: 30px;
}


.krug-stats-area .c100 {
    position: relative;
    font-size: 120px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 0.1em 0.1em 0;
    background-color: #f9f9f9;
    display: block;
    margin: 0 auto;
    float: left;
}

.krug-stats-area .c100 .slice {
    width: 73px;
    height: 73px;
}


.krug-stats-area .c100 .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.3em);
}

.krug-stats-area .c100 .bar {
    position: absolute;
    border: 0.027em solid #285ff1;
    width: 63px;
    height: 63px;
    clip: auto;
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.krug-stats-area .c100 .slice {
    width: 72px;
    height: 72px;
}


.krug-stats-area .c100>span {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 24px;
    width: 100%;
    line-height: 21px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    display: block;
    text-align: center;
    white-space: nowrap;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


.krug-stats-area {
    margin-top: 25px;
}

.area-ds {
    font-weight: bold;
    font-size: 14px;
    max-width: 121px;
    float: left;
    margin-left: 10px;
    height: 68px;
}

.area-ds {
    display: flex;
}

.area-ds span {
    display: block;
    margin: auto;
}

.info-blk-blue li {
    color: #333;
}

.info-blk-blue {
    padding-bottom: 45px;
    margin-top: 7px;
}

.info-blk-blue h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3em;
    margin-bottom: 30px;
}

.info-blk-blue h5 {
    color: #0c349e;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.3em;
}

.col-md-4.col-sm-4.col-xs-12.prlts {
    margin-bottom: 35px;
}

.no-ltrs {
    text-transform: none;
}

.contacts-section .bird-left-2 {
    width: 140px;
    height: 130px;
    background: url(../img/bl2.png) 0 0 no-repeat;
    position: absolute;
    left: -200px;
    top: 428px;
}


.contacts-section .bird-right-2 {
    width: 96px;
    height: 96px;
    background: url(../img/br3.png) 0 0 no-repeat;
    position: absolute;
    right: -156px;
    top: 514px;
}


.type_file {
    position: relative;
    width: 100%;
    margin: 0;
    text-align: left;
    padding-left: 15px;
}

:focus {
    outline: none;
}

.frm-att .fonTypeFile {
    background: none;
    z-index: 1;
    color: #1b1b1b;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    width: 185px;
    text-transform: uppercase;
    height: 37px;
    background-color: #D8D8D8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 13px;
    padding-top: 11px;
    border-bottom: 3px solid #b3b3b3;
}


.b_add {
    width: 610px;
    margin: 15px;
    text-align: left;
    margin-top: 5px;
}

.inputFile {
    font-size: 22px;
    width: 199px;
    height: 40px;
}

.inputFile[class=inputFile] {
    font-size: 22px;
    height: 37px;
    left: 0;
}

.type_file {
    position: relative;
    width: 100%;
    margin: 0;
    text-align: left;
    padding-left: 15px;
    margin-bottom: 10px;
}

button.button {
    background: #f7cb00;
    border: 0;
    border-bottom: 3px solid #ee9f35;
    padding: 11px 33px 9px;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 50px;
    margin-top: 6px;
}

button.button:hover {
    background: #285FF0;
    color: #fff;
    border-bottom: 3px solid #0F2F86;
}

.sp-ntr span {
    font-weight: bold;
}

.sp-ntr {
    color: #333;
}

.info-blk-blue .foot-float-right {
    float: left;
}

.info-blk-blue {
    overflow: hidden;
}

.info-blk-blue a {
    margin-top: 19px;
}

.info-blk-blue a:hover {
    background: #F7CB00;
    border-color: #EE9F35;
}

textarea.form-control {
    height: 180px;
    padding-top: 17px;
    color: #000;
}




::-webkit-input-placeholder {
    color: #333;
}

::-moz-placeholder {
    color: #333;
}

/* Firefox 19+ */
:-moz-placeholder {
    color: #333;
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: #333;
}

.form-contacts-area .bt-sizer {
    margin-top: 30px;
}

.blc-req {
    margin-top: 70px;
}



.req-area strong {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-top: 25px;
}

.req-area {
    margin-top: 30px;
    margin-bottom: 50px;
}

.req-area p {
    color: #1a1a1a;
}


.contacts-section2 .bird-right-1 {
    width: 129px;
    height: 129px;
    background: url(../img/br2.png) 0 0 no-repeat;
    position: absolute;
    right: -46px;
    top: 442px;
    z-index: 9;
}

.orl {
    background: #f4f4f4;
    padding: 30px;
    padding-bottom: 115px;
    margin-top: 30px;
}

.orl h5 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 18px;
    margin-bottom: 20px;
}

.orl p {
    color: #1a1a1a;
    font-weight: bold;
    font-size: 17px;
}

.orl a {
    color: #0c349e;
    text-decoration: underline;
}

.orl a:hover {
    color: #0c349e;
    text-decoration: none;
}

.moun-area {
    padding-left: 50px;
    margin-top: 19px;
}

.moun-area p,
.moun-area h5 {
    font-weight: bold;
    color: #333;
}



.mn1:before {
    width: 35px;
    height: 35px;
    position: absolute;
    content: '';
    background: url(../img/rt1.png) 0 0 no-repeat;
    margin-left: -45px;
    margin-top: 8px;
}


.mn2:before {
    width: 35px;
    height: 35px;
    position: absolute;
    content: '';
    background: url(../img/rt2.png) 0 0 no-repeat;
    margin-left: -45px;
    margin-top: -5px;
}


.mn3:before {
    width: 35px;
    height: 35px;
    position: absolute;
    content: '';
    background: url(../img/rt3.png) 0 0 no-repeat;
    margin-left: -45px;
    margin-top: 5px;
}


.mn4:before {
    width: 35px;
    height: 35px;
    position: absolute;
    content: '';
    background: url(../img/rt4.png) 0 0 no-repeat;
    margin-left: -45px;
    margin-top: 5px;
}

.trs {
    margin-top: 35px;
}

.mn1 h5 {
    font-weight: bold;
    font-size: 30px;
}

.mn1 p {
    font-weight: 18px;
    font-weight: bold;
    color: #333;
}

.mn2 p {
    color: #333;
}


.mn2 a {
    color: #0c349e;
    text-decoration: underline;
}

.moun-area p {
    font-size: 15px;
}

.ls-area img {
    margin-top: 30px;
}


.spp-area p {
    color: #333;
    font-size: 16px;
    margin-top: 30px;
}

.spp-area p strong {
    font-weight: bold;
}

.ls-area {
    margin-bottom: 300px;
}

.ls-area li {
    color: #333;
}

p.strg {
    margin-bottom: -15px;
}


div#accordion {
    margin-top: 35px;
    margin-bottom: 22px;
}

.all-news:focus {
    color: #000;
}


.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: 1px solid #e4e9f6;
    background: #e4e9f6;
    font-weight: normal;
    color: #454545;
}


.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #0c349e;
    background: #0c349e;
    font-weight: normal;
    color: #ffffff;
}


.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    font-size: 100%;
    text-align: left;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #0c349e;
    background: #0c349e;
    font-weight: normal;
    color: #ffffff;
}

.ui-accordion .ui-accordion-content {
    padding: 1em 1.6em;
    border-top: 0;
    overflow: auto;
    border: 0;
}


.ui-accordion .ui-accordion-content p {
    color: #333;
    font-size: 16px;
    font-family: 'Arial';
}

.ui-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.05em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    float: right;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    border-top-left-radius: 0;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    border-top-right-radius: 0;
}


.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 10px 0 0 0;
    padding: 16px 15px 16px 23px;
    font-size: 100%;
    text-align: left;
    text-transform: none;
    font-size: 16px;
    color: #989898;
}


div#accordion p {
    margin-bottom: 8px;
    padding-top: 8px;
}


span.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e {
    background: url(../img/s-arrow.png) 0 0 no-repeat;
    margin-top: 3px;
    width: 11px;
}

span.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-s {
    background: url(../img/d-arrow.png) 0 0 no-repeat;
    margin-top: 4px;
}

.help-area.childrens .bird-left-2 {
    width: 140px;
    height: 130px;
    background: url(../img/bl2.png) 0 0 no-repeat;
    position: absolute;
    left: -200px;
    top: 100px;
}


.help-area.childrens .bird-left-1 {
    width: 99px;
    height: 99px;
    background: url(../img/lf.png) 0 0 no-repeat;
    position: absolute;
    left: 100px;
    top: 41px;
    right: auto;
}



.help-area .bird-main {
    width: 407px;
    height: 347px;
    background: url(../img/br.png) 0 0 no-repeat;
    position: absolute;
    right: -285px;
    top: -230px;
}

.help-area .bird-right-1 {
    width: 129px;
    height: 129px;
    background: url(../img/br2.png) 0 0 no-repeat;
    position: absolute;
    right: -117px;
    top: 346px;
}


.help-area img {
    cursor: pointer;
    border: 1px solid #fff;
}

.help-area img:hover {
    border: 1px solid #0C349D;
}


span.tip {
    background: #fff;
    border-radius: 0px;
    opacity: 1;
}

.tip {
    color: #fff;
    background: #1d1d1d;
    display: none;
    padding: 20px;
    width: 610px;
    padding-bottom: 0;
    position: absolute;
    z-index: 1000;
    border-radius: 0px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.42);
    -moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.42);
    box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.42);
}

span.tip {
    background: #0c349e;
    border-radius: 0px;
    opacity: 1;
    color: #fff;
    padding: 25px;
}

span.tip p {
    color: #fff;
}

.row.area-rtr {
    margin-top: 50px;
}

.tip_trigger {
    width: 211px;
}

.ultr {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: block;
    font-size: 0;
}

.tip_trigger {
    padding: 10px;
    margin: 0 10px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    float: none;
}


.help-area {
    margin-bottom: 50px;
}